<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration
        PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;databaseName=Quan_li_sinh_vien</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password">phuoc123</property>
        <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>

        <mapping class="com.example.demo3.models.Student"/>
        <mapping class="com.example.demo3.models.Classes"/>
    </session-factory>
</hibernate-configuration>