USE [Quan_li_sinh_vien]
GO
/****** Object:  Table [dbo].[STUDENTS]    Script Date: 24/04/2022 10:04:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENTS](
	[id] [int] NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[mark] [float] NULL,
	[image] [varchar](50) NULL,
	[address] [nvarchar](100) NULL,
	[note] [nvarchar](100) NULL,
 CONSTRAINT [PK_STUDENTS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[STUDENTS] ([id], [name], [mark], [image], [address], [note]) VALUES (13, N'ALOALO', 9.8, N'', N'Binh Phuoc', N'khong co gi')
INSERT [dbo].[STUDENTS] ([id], [name], [mark], [image], [address], [note]) VALUES (14, N'ALOALO', 9.8, N'', N'Binh Phuoc', N'khong co gi')
INSERT [dbo].[STUDENTS] ([id], [name], [mark], [image], [address], [note]) VALUES (17, N'ALOALO', 9.8, N'', N'Binh Phuoc', N'khong co gi')
GO
ALTER TABLE [dbo].[STUDENTS] ADD  CONSTRAINT [DF_STUDENTS_mark]  DEFAULT ((0.0)) FOR [mark]
GO
